<div class="main-g-c-10 main-b-1 main-center">
    <input class="main-g-c-3-6 main-input-1" type="text" placeholder="buscar...">
</div>
<div class="main-g-c-6">
    <div class="main-g-c-1 main-b-1">
        <a routerLink="barra-menu">barramenu</a>
        <a routerLink="codigos">mostrar codigos</a>
        <a routerLink="copiar-pegar">copiar y pegar</a>
        <a routerLink="login-completo">login completo</a>
    </div>
    <div class="main-w-100 main-g-c-2-1">
        <router-outlet></router-outlet>
    </div>
</div>