<div class="main-g-c-1">
    <div>
        <div class="main-g-c-5">
            <button>.html</button>
            <button>.scss</button>
            <button>.ts</button>
            <button>app.routing</button>
            <button>app.module</button>
        </div>
        <pre>
            &lt;div class=&quot;main-g-c-6&quot;&gt;
                &lt;div class=&quot;main-g-c-1 main-b-1&quot;&gt;
                    &lt;a routerLink=&quot;ruta-1&quot;&gt;opcion-1&lt;/a&gt;
                    &lt;a routerLink=&quot;ruta-2&quot;&gt;opcion-2&lt;/a&gt;
                    &lt;a routerLink=&quot;ruta-3&quot;&gt;opcion-3&lt;/a&gt;
                    &lt;a routerLink=&quot;ruta-4&quot;&gt;opcion-4&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;main-w-100 main-g-c-2-1&quot;&gt;
                    &lt;router-outlet&gt;&lt;/router-outlet&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre>
    </div>
    <button>copiar</button>
</div>